.home{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .home-divider{
    width: 800px;
    .ant-divider{
      span{
        color: rgb(78, 118, 202);
        font-size: 25px;
      }
    }
    .ant-divider:before{
      border-top: 1px solid rgb(78, 118, 202);
    }
    .ant-divider:after{
      border-top: 1px solid rgb(78, 118, 202);
    }
  }
  p{
    color: rgb(78, 118, 202);
    font-size: 25px;
    margin: 0;
    line-height: 60px;
  }
  .go{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    border-radius: 3px;
    line-height: 30px;
    color: rgb(78, 118, 202);
    border: 1px solid rgb(78, 118, 202);
  }
}
