.exam{
  display: flex;
  flex-direction: column;
  .menu{
    display: flex;
    width: 100%;
    background: rgb(78, 118, 202);
    height: 50px;
    .menu-item{
      flex:1 1 20%;
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      color: #fff;
      i{
        margin-right: 10px;
      }
    }
  }
}
