.gap-topic {
  .code {
    display: flex;

    .code-value {
      padding: 10px;
    }
  }

  .gap-inputs {
    display: flex;
    flex-wrap: wrap;

    .gap-input {
      width: 30%;
      margin: 0 10px;
      background: #fff;
    }
  }
}
